!!!
%html
  %head
    %title Interview
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    / header
    = render 'partials/header'

    / main content
    #content.container
      = yield

    / footer
    = render 'partials/footer'
    